<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>ThIS IS WHERE THE MAGIC HAPPENS</h2>
    <h1>Welcome to the Magic School</h1>

    <div class="content">
      <p>Magic School is all about giving students an understanding of magic. As well as students using their magic powers wisely and respectfully. This school disciplines students and structures them. This portal is for teachers to create assignments for their students. So Let's Begin!</p>
    </div>

    <div class="sidebar">
      <ul>
        <li><b>Already a User: </b><a href="/login">LOGIN</a></li>
        <li><b>Create an Account: </b> <a href="/signup">SIGNUP</a</li>
      </ul>
    </div>

  </div>
</div>
